<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1> Welcome {{my_variable}}</h1>
    <h1>Name converted to list {{my_letters}}</h1>
    <h1>Extracting some letters from list with index 2-7(Slicing): {{my_letters[2:7]}}</h1>
    <!----------Adding dictionaries----------->
    <h2> Display dictionary variable {{my_dictionary}}</h2>
    <h2> Extract dictionary keys: {{my_dictionary['Fruit_name']}}</h2>
    <h3> Our list is {{my_list}}</h3>

</body>
</html>